@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-quicksand);
}
.font-outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-neutro);
    font-weight: bolder;
}
h1 {
    @apply text-4xl md:text-9xl
}
h2 {
    @apply text-7xl
}
h3 {
    @apply text-5xl
}
h4 {
    @apply text-4xl
}
h5 {
    @apply text-3xl
}
h6 {
    @apply text-2xl
}
.btn {
    @apply border-2 border-dark dark:border-light bg-dark dark:bg-light text-light dark:text-dark uppercase font-semibold px-5 py-2
}
.btn.icon {
    @apply flex items-center gap-2
}
.btn.outlined {
    @apply bg-transparent text-dark dark:text-light
}

@media (max-width: 640px) {
    .font-outline {
        -webkit-text-stroke-width: 1px;
    }
}
